on:
  push:
    branches:
      - master
      - dev
      - dev_fix
  pull_request:
    branches:
      - master
      - dev

name: build
jobs:
  testing:
    strategy:
      matrix:
        go-version: [1.12.x,1.13.x,1.14.x,1.15.x,1.16.x,1.17.x,1.18.x,1.19.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Go
        if: success()
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install Go Dependencies
        run: |
          go get -d -v -t $(go list ./... | grep -v main)

      - name: Run tests
        run: |
          mkdir -p /home/runner/go/src
          cp -R ../motan-go /home/runner/go/src/
          cd /home/runner/go/src/motan-go
          export GO111MODULE=on
          go test -v -race $(go list ./... | grep -v main)
  codecov:
    name: codecov
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
        id: go

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go get -d -v -t $(go list ./... | grep -v main)

      - name: Generate coverage report
        run: |
          go test -v -race -coverprofile=coverage.txt -covermode=atomic $(go list ./... | grep -v main)

      - name: Upload coverage report
        uses: codecov/codecov-action@v1.0.2
        with:
          token: "282c293b-ab38-4ea6-8518-b44f78df02eb"
          file: ./coverage.txt
          flags: unittests
          name: codecov-umbrella